In [2]:
import pandas as pd
import numpy as np

In [7]:
titanic = pd.read_csv('data/titanic.csv', index_col='PassengerId')

### Задание

В датасете Titanic проверьте признак "Возраст"("Age") на выбросы (отрицательный возраст, посмотрите максимальный возраст - он правдоподобен?).  
Если там есть отсутствующие значения - на их место поставьте медианный возраст пассажиров.

In [61]:
neg_age = titanic[titanic["Age"] < 0 ]; neg_age
print(f'максимальный возраст: {titanic["Age"].max()}')

максимальный возраст: 80.0

In [71]:
age_na = titanic[titanic["Age"].isna()]; age_na
age_na.fillna(titanic["Age"].mean())

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
6,0,3,"Moran, Mr. James",male,29.699118,0,0,330877,8.4583,29.699118,Q
18,1,2,"Williams, Mr. Charles Eugene",male,29.699118,0,0,244373,13.0000,29.699118,S
20,1,3,"Masselmani, Mrs. Fatima",female,29.699118,0,0,2649,7.2250,29.699118,C
27,0,3,"Emir, Mr. Farred Chehab",male,29.699118,0,0,2631,7.2250,29.699118,C
29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,29.699118,0,0,330959,7.8792,29.699118,Q
...,...,...,...,...,...,...,...,...,...,...,...
860,0,3,"Razi, Mr. Raihed",male,29.699118,0,0,2629,7.2292,29.699118,C
864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,29.699118,8,2,CA. 2343,69.5500,29.699118,S
869,0,3,"van Melkebeke, Mr. Philemon",male,29.699118,0,0,345777,9.5000,29.699118,S
879,0,3,"Laleff, Mr. Kristo",male,29.699118,0,0,349217,7.8958,29.699118,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.699118,1,2,W./C. 6607,23.4500,29.699118,S

---

### Задание
Проанализируйте загруженные данные:

1. Сколько было на Титанике мужчин, женщин и несовершеннолетних детей(<18 лет)?
2. Действительно ли у пассажиров, путешествующих 3-м классом нет номеров кают?
3. Есть предположение, что женщин и детей не было среди путешествующих 3-м классом. Проверьте.

In [95]:
# Сколько было на Титанике мужчин, женщин и несовершеннолетних детей(<18 лет)?
titanic[(titanic.Age >= 18) & (titanic.Sex == 'male')].shape
titanic[(titanic.Age >= 18) & (titanic.Sex == 'female')].shape
titanic[titanic.Age < 18].shape

(113, 11)

In [130]:
# Действительно ли у пассажиров, путешествующих 3-м классом нет номеров кают?
titanic[(~(titanic["Cabin"].isna())) & (titanic.Pclass == 3)]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
76,0,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,F G73,S
129,1,3,"Peter, Miss. Anna",female,NaN,1,1,2668,22.3583,F E69,C
206,0,3,"Strom, Miss. Telma Matilda",female,2.0,0,1,347054,10.4625,G6,S
252,0,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",female,29.0,1,1,347054,10.4625,G6,S
395,1,3,"Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengt...",female,24.0,0,2,PP 9549,16.7000,G6,S
430,1,3,"Pickard, Mr. Berk (Berk Trembisky)",male,32.0,0,0,SOTON/O.Q. 392078,8.0500,E10,S
700,0,3,"Humblen, Mr. Adolf Mathias Nicolai Olsen",male,42.0,0,0,348121,7.6500,F G63,S
716,0,3,"Soholt, Mr. Peter Andreas Lauritz Andersen",male,19.0,0,0,348124,7.6500,F G73,S
752,1,3,"Moor, Master. Meier",male,6.0,0,1,392096,12.4750,E121,S
777,0,3,"Tobin, Mr. Roger",male,NaN,0,0,383121,7.7500,F38,Q
824,1,3,"Moor, Mrs. (Beila)",female,27.0,0,1,392096,12.4750,E121,S

In [134]:
# Есть предположение, что женщин и детей не было среди путешествующих 3-м классом. Проверьте./
titanic[(titanic.Sex == 'female') & (titanic.Pclass == 3)].shape
titanic[(titanic.Age < 18) & (titanic.Pclass == 3)].shape

(78, 11)

---